@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite/dist/flowbite.css";
@import "./calendar.css";

/* custom shadow for cards */
.custom-shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.06);
}

/* body */
.hero-bg {
    background-image: url("/public/img/background/hexgrid.svg");
    background-repeat: repeat;
    background-size: 700px;
    animation: moveNW 10s linear infinite;
}

@keyframes moveNW {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200px -200px;
    }
}

/* aos */
[data-aos="fade"] {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}
[data-aos="fade"].aos-animate {
  opacity: 1;
}





